@font-face {
    -fx-font-family:Poppins;
    src: url("Poppins-Bold.ttf");
}
.label{
    -fx-font-family: Poppins;
}
#memberList .list-cell{
    -fx-alignment: center;
    -fx-font-size: 15;
}
#backAnchorPane{
    -fx-background-image: url("Back4.jfif");
    -fx-background-size: cover;
}
#memberList{
    -fx-background-color: rgb(255,255,255,.4);
    -fx-background-radius: 10px ;
    -fx-padding: 20px;

}
.list-cell {
    -fx-padding: 2px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-radius: 10px;
    -fx-background-insets: 0px, 5px ;
}

.list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}
