@font-face {
    -fx-font-family:Poppins;
    src: url("Poppins-Bold.ttf");
}
.label{
    -fx-font-family:Poppins;
}
#senderName{
    -fx-text-fill: rgb(4,168,244);
}
#time{
    -fx-text-fill: rgb(143, 188, 192);
}
#repliedPane {
    -fx-background-color: rgb(54, 33, 80,.5);
    -fx-background-radius: 0px 0px 0px 0px;
}
#typingPane {
    -fx-background-color: rgb(54, 33, 80);
    -fx-background-radius: 0px 0px 8px 8px ;
}
#detail {
    -fx-background-color: rgb(54, 33, 80,.5);
    -fx-background-radius: 8px 8px 0px 0px ;
}
#typingMessage{
    -fx-font-family: "Microsoft YaHei";
    -fx-background-color: rgb(0,0,0,0);
    -fx-text-fill: white;
}
#repliedMessage{
    -fx-font-family: "Microsoft YaHei";
    -fx-text-fill: white;
}