@font-face {
    -fx-font-family:Poppins;
    src: url("Poppins-Bold.ttf");
}
.label{
    -fx-font-family: Poppins;
    -fx-text-fill: white;
}
#members .list-cell{
    -fx-alignment: center;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background:rgb(160,160,160,0.4);
}
#backAnchorPane{
    -fx-background-image: url("darkBack3.jpg");
    -fx-background-size: cover;
}
#members{
    -fx-background-color: rgb(255,255,255,.3);
    -fx-background-radius: 10px ;
    -fx-padding: 20px;

}
.list-cell {
    -fx-padding: 2px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-radius: 10px;
    -fx-background-insets: 0px, 5px ;
}

.list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}