@font-face {
    -fx-font-family:Poppins;
    src: url("Poppins-Bold.ttf");
}
#backAnchorPane{
    -fx-background-image: url("Back4.jfif");
    -fx-background-size: cover;
}
#anchorPane{
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-background-radius: 20px;
}
#addMember{
    -fx-font-family:Poppins;
    -fx-background-color: rgb(181, 160, 252);
    -fx-background-radius: 10px;
}
#addMember:hover{
    -fx-background-color: rgb(135,102,243);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}
#submit{
    -fx-font-family:Poppins;
    -fx-background-color: rgb(181, 160, 252);
    -fx-background-radius: 10px;
}
#submit:hover{
    -fx-background-color: rgb(135,102,243);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}
#forgotPassword{
    -fx-font-family:Poppins;
    -fx-background-color: rgb(79,194,236);
    -fx-background-radius: 10px;
}
#forgotPassword:hover{
    -fx-background-color: rgb(57, 185, 224);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}
#groupName{
    -fx-font-family:Poppins;
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-radius: 10px;
}
#groupName:focused{
    -fx-background-color: rgba(255,255,255,1);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}
#ImagUrl{
    -fx-font-family:Poppins;
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-radius: 10px;
}
#ImagUrl:focused{
    -fx-background-color: rgba(255,255,255,1);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}
#userNameHeader{
    -fx-font-family:Poppins;
}
#passwordHeader{
    -fx-font-family:Poppins;
}
#attach{
    -fx-font-family:Poppins;
    -fx-background-color: rgb(181, 160, 252);
    -fx-background-radius: 10px;
}
#attach:hover{
    -fx-background-color: rgb(135,102,243);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}