@font-face {
    -fx-font-family:Poppins;
    src: url("Poppins-Bold.ttf");
}
#groupList .list-cell{
    -fx-alignment: center;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background:rgb(160,160,160,0.4);
}
#backAnchorPane{
    -fx-background-image: url("darkBack3.jpg");
    -fx-background-size: cover;
}
#addGroupButton{
    -fx-background-color:rgb(255,255,255,0);
    -fx-background-image: url("dark-addgroup-icon.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 100%;
    -fx-background-position: center;
}
#groupList{
    -fx-background-color: rgb(255,255,255,.3);
    -fx-background-radius: 10px ;
    -fx-padding: 20px;

}
.list-cell {
    -fx-padding: 2px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-radius: 10px;
    -fx-background-insets: 0px, 5px ;
}
.list-cell:hover{
}
.list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}
