@font-face {
    -fx-font-family:Poppins;
    src: url("Poppins-Bold.ttf");
}
.label{
    -fx-font-family:Poppins;
    -fx-text-fill: white;
}
#backAnchorPane {
    -fx-background-image: url("darkBack3.jpg");
    -fx-background-size:100% 100%;
}
#back{
    -fx-background-color:rgb(189,59,251,0);
    -fx-background-image: url("dark-back-icon.png");
    -fx-background-size: 30 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 10px;
    -fx-background-position: center;
}
#groupName{
    -fx-font-family:Poppins;
    -fx-background-color: rgba(160,160,160,0.4);
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}
#groupName:focused{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}
#changeName{
    -fx-font-family:Poppins;
    -fx-background-color: rgb(86,80, 154);
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}
#changeName:hover{
    -fx-background-color: rgb(135,102,243);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}
.list-view .list-cell{
    -fx-alignment: center;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background:rgb(160,160,160,0.4);
}
.list-view{
    -fx-background-color: rgb(255,255,255,.4);
    -fx-background-radius: 10px ;
    -fx-padding: 20px;

}
.list-cell {
    -fx-padding: 2px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-radius: 10px;
    -fx-background-insets: 0px, 5px ;
}

.list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}
