@font-face {
    -fx-font-family:Poppins;
    src: url("Poppins-Bold.ttf");
}
#followers .list-cell{
    -fx-alignment: center;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background:rgb(160,160,160,0.4);
}
#backAnchorPane{
    -fx-background-image: url("darkBack3.jpg");
    -fx-background-size: cover;
}
#searchedUsername{
    -fx-background-radius: 40px;
    -fx-background-color: rgba(160,160,160,0.4);
    -fx-font-family:Poppins;
    -fx-text-fill: white;
    /*-fx-font-style:rgb(0,0,0);*/
    /*-fx-prompt-text-fill:black;*/
}
#searchedUsername:focused{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}
#searchButton{
    -fx-background-color:rgb(255,255,255,0);
    -fx-background-image: url("dark-search-icon.png");
    -fx-background-size: 50% 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 100%;
    -fx-background-position: center;
}
#followers{
    -fx-background-color: rgb(255,255,255,.3);
    -fx-background-radius: 10px ;
    -fx-padding: 20px;

}
.list-cell {
    -fx-padding: 2px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-radius: 10px;
    -fx-background-insets: 0px, 5px ;
}

.list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}
