@font-face {
    -fx-font-family:Poppins;
    src: url("Poppins-Bold.ttf");
}
#Likers .list-cell{
    -fx-alignment: center;
    -fx-font-size: 15;
    -fx-font-family:Poppins;
    -fx-text-fill: white;
    -fx-background-color: #727272;
    -fx-border-color: #727272;
}
